html {
    scroll-behavior: smooth;
  }

:root {
    --display: 'Rye', Georgia, cursive;
    --display-cursive: 'Great Vibes', Georgia, cursive;
    --sans-serif: 'Raleway', Helvetica, Arial, sans-serif;;
    --off-white: rgb(242, 242, 222);
    --off-white-alpha: rgba(242, 242, 222,.75);
    --dark: #171717;
    --soft-dark: #333333;
    --green-metal: #52615F;
    --barber-red: #CE4646;
}

/* ==== Universal ==== */
body {
    background-color: var(--off-white);
}

h1 {
    font-family: var(--display);
    color: var(--off-white);
    font-size: 6rem;
    margin: .5rem 0 1.5rem;
    line-height:6rem;
}

h2 {
    font-family: var(--display);
    font-weight: 500;
    color: var(--off-white);
    font-size: 3.5rem;
    margin: 1rem 0;
    line-height: 3.5rem;
}

h3 {
    font-family: var(--sans-serif);
    font-weight: 700;
    color: var(--off-white);
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 3.25rem;
}

h4 {
    font-family: var(--sans-serif);
    font-weight: 700;
    color: var(--soft-dark);
    font-size: 1.5rem;
    margin: 1rem 0 .25rem 0;
    line-height: 2.125rem;
}



p {
    font-family: var(--sans-serif);
    color: inherit;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 10px 0;
}


/* ==== Utility ==== */

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.py-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pr-100 {
    padding-right: 100px;
}

.py-50 {
    padding: 50px 0;
}

.py-100 {
    padding: 100px 0;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.container-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.height-screen {
    height: 100vh;
}

.img {
    width: 99%;
    margin: 10px 0;
}

.align-c {
    text-align: center;
}

.align-r {
    text-align: right;
}

.justify-c {
    justify-content: center;
}

.justify-even {
    justify-content: space-evenly;
}

/* ==== Header ==== */
#main-header {
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.scroll-bg {
    background-color: var(--off-white-alpha);
    transition: .15s ease-in;
    border-bottom: 1px solid var(--dark);
}

.logo {
    display: flex;
}

.menu {
    display: flex;
    position: relative;
    align-items: center;
}

.menu-btn {
    cursor: pointer;
    font-family: var(--sans-serif);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 50px 10px 14px;
    border: 1px solid var(--off-white);
    border-radius: 8px;
    color: var(--off-white);
    margin-top: 20px;
}

.menu:hover .menu-btn {
    background: rgba(255,255,255,.25);
}

.menu-dark {
    color: var(--soft-dark);
    border: 1px solid var(--soft-dark);
}

.img-go {
    background: center no-repeat url('../images/menu/menu_animated.gif');
    background-size: 100%;
    position: absolute;
    top: -3px;
    right: 2px;
    width: 46px;
    height: 76px;
    cursor: pointer;
}

.menu:hover .img-go {
    background: center no-repeat url('../images/menu/menu_static.gif');
    background-size: 100%;
}

.menu-img {
    max-width: 46px;
}

.top-gradient {
    background: rgb(242,242,222);
    background: linear-gradient(0deg, rgba(242,242,222,0) 0%, rgba(242,242,222,1) 100%);
    height: 40px;
    width: 100%;
    position: fixed;
}

/* ==== Intro Section ==== */
#welcome {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#welcome h3 {
    text-align:center;
}

#welcome h3::before{
    content: '';
    padding: 2px;
    width: 100px;
    background-color: var(--off-white);
    position: absolute;
    left: calc(50% - 50px);
    top: 0;
}

#welcome h3::after {
    content: '';
    padding: 2px;
    width: 100px;
    background-color: var(--off-white);
    position: absolute;
    left: calc(50% - 50px);
    bottom: 0;
}

.overlay {
    background-color: rgba(0,0,0,.6);
    min-height: 100vh;
    width: 100%;
}

#intro-bg {
    background-color: #000;
    background-image: url('../images/intro/intro_image_001.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition:2;
}

.backgrounds {
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

#welcome h1, #welcome h2 {
    text-align: center;
}

.bubble-container {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

.bubbles-b-left {
    position: absolute;
    left: 0;
    bottom: -4px;
    background: center no-repeat url(../images/intro/bubbles-left.svg);
    width: 486px;
    height: 177px;
}

.bubbles-b-right {
    position: absolute;
    right: 0;
    bottom: -4px; 
    background: center no-repeat url(../images/intro/bubbles-right.svg);
    width: 486px;
    height: 177px;
}

.bubbles-t-right {
    position: absolute;
    right: 0;
    top: -4px;
    background: center no-repeat url(../images/intro/bubbles-left.svg);
    width: 486px;
    height: 177px;
    transform: rotate(180deg);
}

.bubbles-t-left {
    position: absolute;
    left: 0;
    top: -4px; 
    background: center no-repeat url(../images/intro/bubbles-right.svg);
    width: 486px;
    height: 177px;
    transform: rotate(180deg);
}

.intro-gradient {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);

}

/* ==== Main Content ==== */
#about {
    padding: 200px 0;
    position: relative;
}

#about .container-content {
    justify-content: space-around;
}

#about h2, #about h3 {
    color: var(--dark);
}

.about-content {
    max-width: 700px;
}



#daily-specials {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.special {
    margin: 10px 0;
    padding: 30px;
    color: var(--off-white);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    min-height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunday {
    background-image: url(../images/daily/monday.png);
}


/* === Bottom Hero === */
#bottom-hero {
    position: relative;
}

.bottom-hero {
    background: center / cover no-repeat url(../images/hero2/craftbeer_signs.jpg);
    background-attachment: fixed;
}

.bottom-hero .container {
    vertical-align: center;
}

/* Header Overriders */
#bottom-hero h2 {
    text-align: center;
    margin: 2rem 0;
}

.bottom-hero .overlay{
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-hero h3 {
    line-height: 3.5rem;
    margin: 1rem 0;
    text-align: center;
}

#bottom-hero h3::before{
    content: '';
    padding: 2px;
    width: 100px;
    background-color: var(--off-white);
    position: absolute;
    left: calc(50% - 50px);
    top: 0;
}

#bottom-hero h3::after {
    content: '';
    padding: 2px;
    width: 100px;
    background-color: var(--off-white);
    position: absolute;
    left: calc(50% - 50px);
    bottom: 0;
}

/* === Location === */

#location h2 {
    color: var(--soft-dark);
}

.map-container {
    width: 70%;
    margin: 2.5rem;
}

#map {
    height: 340px;
    width: 100%;
}

/* Side Menu */
.menu-container {
    position: fixed;
    top: 0;
    height: 100vh;
    max-width: 325px;
    width: 100%;
    z-index: 21;
    background-color: var(--barber-red);
    padding: 20px;
    box-shadow: -20px 0 20px 0 rgb(0 0 0 / 25%);
    transition: .05s;
}

.menu-open {
    animation-name: menu-slide-open;
    animation-duration:.5s;
    animation-timing-function: .05s ease-out;
    animation-iteration-count: 1;
}

@keyframes menu-slide-open {
    0% {
        right: -365px;
    }

    100% {
        right: 0;
    }
}

.menu-close {
    animation-name: menu-slide-close;
    animation-duration:.5s;
    animation-timing-function: .05s ease-out;
    animation-iteration-count: 1;
}

@keyframes menu-slide-close {
    0% {
        right: 0;
    }

    100% {
        right: -365;
    }
}


.closed-pos {
    right: -365px;
}

.open-pos {
    right: 0;
}


.close-btn {
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    transition: .25s ease-in;
}

.close-btn:hover {
    top: 12px;
    transition: .25s ease-out;
}

.close-line-a, .close-line-b {
    padding: 2px;
    width: 40px;
    border-radius: 50px;
    background: var(--off-white);
    transition: .25s ease-in;

}

.close-line-a {
    transform: rotate(45deg);
}

.close-line-b {
    transform: rotate(135deg);
    position: absolute;
    top: 1px;
}

.close-btn:hover > .close-line-a, .close-btn:hover > .close-line-b {
    background: var(--soft-dark);
    transition: .25s ease-out;
}

.menu-container nav ul {
    padding: 0;
    margin-top: 100px;
}

.menu-container nav ul li {
    position: relative;
    padding: 10px;
    margin: 10px;
}

.menu-container nav ul li a {
    color: var(--off-white);
    font-family: var(--sans-serif);
    font-size: 1.25rem;
    text-decoration: none;
    transition: .5s ease-in;
}

.menu-container nav ul li a:hover {
    color: var(--off-white-alpha);
    transition: .5s ease-out;
}

.menu-container nav ul li:hover::before {
    content: '';
    position: absolute;
    background-image: url(../images/menu/handpointing.svg);
    background-repeat: no-repeat;
    padding: 40px 40px 0 40px;
    left: -65px;
    animation-name: pointer-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes pointer-move {
    0% {
        left: -85px;
    }

    100% {
        left: -65px;
    }
}



/* === Footer === */
footer {
    background-color: var(--soft-dark);
    color: var(--off-white);
}

#back-to-top {
    position: absolute;
    width: 75px;
    left: 16px;
    bottom: 80px;
}

.pointer-up {
    transform: rotate(-90deg);
    animation-name: back-to-top;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes back-to-top {
    0% {
        bottom: 40px;
    }

    100% {
        bottom: 50px
    }
}

.message {
    position: absolute;
    font-family: var(--display);
    font-size: .9rem;
    line-height: 1rem;
    text-align: center;
    bottom: 18px;
    left: 80px;
    background: var(--off-white);
    color: var(--barber-red);
    padding: 20px 30px;
    border-radius: 24px;
    width: 119px;
}

.message::before {
    content: '';
    width: 30px;
    height:30px;
    background-color: var(--off-white);
    position: absolute;
    left: -8px;
    top: 30px;
    transform: rotate(45deg);
}

#gift-card::before {
    content: 'Treat a friend';
    font-family: var(--display-cursive);
    color: var(--barber-red);
    font-size: 30px;
    position: absolute;
    top: -30px;
    width: 200px;
    left: -56px;
    transform: rotate(-5deg);
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0;
    }
    25% {
        text-shadow: 0 0 20px;
    }
    30% {
        text-shadow: 0 0 0;
    }
    35% {
        text-shadow: 0 0 20px;
    }
    60% {
        text-shadow: 0 0 0;
    }
    65% {
        text-shadow: 0 0 20px;
    }
    70% {
        text-shadow: 0 0 0;
    }
    75% {
        text-shadow: 0 0 20px;
    }
    90% {
        text-shadow: 0 0 0;
    }
    100% {
        text-shadow: 0 0 0;
    }
}

footer ul {
    margin: 0;
    padding: 1rem;
}

footer ul li a {
    border-radius: 8px;
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 700;
    color: var(--off-white);
    padding: 1rem;
    text-decoration: none;
    transition: .5s ease-in;
}

footer ul li a:hover {
    background: var(--dark);
    color: var(--off-white-alpha);
    transition: .5s ease-out;
}

footer .container-flex div.container:last-child {
    background-color: var(--dark);
    padding: 1rem 0;
}

.copyright {
    font-size: .75rem;
    color:var(--off-white);
    line-height: 1.125rem;
}

.copyright a {
    color: var(--off-white);
}



