:root {
    --display: 'Rye', Georgia, cursive;
    --sans-serif: 'Raleway', Helvetica, Arial, sans-serif;;
    --off-white: #F2F2DF
}

h1 {
    font-family: var(--display);
    color: var(--off-white);
    font-size: 6rem;
    margin: .5rem 0 1.5rem;
    line-height:6rem;
}

h2 {
    font-family: var(--sans-serif);
    font-weight: 700;
    color: var(--off-white);
    font-size: 3rem;
    margin: 1rem 0;
    line-height: 3.5rem;
}


.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.container-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.height-screen {
    height: 100vh;
}

/* Header */
#main-header {
    justify-content: space-between;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
}

.menu {
    display: flex;
}

/* Intro Section */
#welcome {
    background: grey;
    min-height: 100vh;
    width: 100%;
}

#welcome h1, #welcome h2 {
    text-align: center;
}